[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayesanova"]
	path = bayesanova
	url = https://github.com/cran/bayesanova
[submodule "fbst"]
	path = fbst
	url = https://github.com/cran/fbst
